.notificationsIcon {
  position: relative;
}

.notificationDiv {
  background-color: whitesmoke;
  position: absolute;
  top: 110%;
  right: 0;
  width: 30vw;
  height: 90vh;
  cursor: default;
  overflow-y: auto;
  padding: 0.5rem;
  display: none;
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    li {
      display: flex;
      border-bottom: 1px solid black;
      //   box-shadow: 0 0 5px black;
      padding: 0.5rem;
      font-size: 0.7rem;
      //   letter-spacing: 2px;
      font-family: "Courier New", Courier, monospace;
      color: black;
      font-weight: bolder;
    }
  }
}


.notificationDiv::-webkit-scrollbar {
  display: none;
}